<div style="padding-top: 2rem;">
  <div class="container">
    <div class="row">
      <div 
        class="col-sm-1 col-md-3 col-lg-4 border defaultPro" style="height:200px;"
        *ngFor="let arrayitems of arrayElements;let i = index;"
        [ngClass]="(arrayitems.isedit && !arrayitems.iserror) ? getBackgroundimage(arrayitems) : none">

        <a href="" (click)="edit($event,i)" class="hrefLink">
          {{arrayitems.isedit ?  'edit' :'add'}}
        </a>

        <div class="row" *ngIf="!arrayitems.isadd;else weatherinfo">
            <div class="col-lg-6">
                <input class="form-control" autocomplete="off" type="text" placeholder="Enter city name" id="city"  [(ngModel)]="items[i]" name="cityname">
            </div>
            <div class="col-lg-3" *ngIf="items[i]">
              <button type="button" class="btn btn-outline-primary"(click)="onClick($event,items[i],i)">
                Search
              </button>
            </div>
        </div>
          <ng-template #weatherinfo>
              <div *ngIf="(arrayitems.isedit && !arrayitems.iserror )">
                <div class="row">
                  <div>
                    <img src="https://openweathermap.org/img/wn/{{arrayitems.icon}}@2x.png" alt="image">
                  </div>
                  <div class="col-12">City : {{arrayitems.city }}</div>
                  <div class="col-12">Temp : {{arrayitems.temp }}</div>
                  <div class="col-12">Atmosphere : {{arrayitems.weatherDescription }}</div>
                </div>
              </div>
              <div *ngIf="arrayitems.iserror">
                 {{errorMessage}} 
              </div>
          </ng-template>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>



